body{font-family:Arial;background:#111;color:white;text-align:center}
.card{background:#1b1b1b;margin:20px;padding:16px;border-radius:12px}
input{padding:8px;border-radius:8px;border:none;margin:6px}
button{padding:10px 16px;border:none;border-radius:10px;background:#2ecc71}
